# Rails
RAILS_ENV=development
PORT=3000
SECRET_KEY_BASE=change_me
ACTIVE_JOB_QUEUE_ADAPTER=sidekiq

# Infra
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/marketplace_development
REDIS_URL=redis://localhost:6379/0

# Internal auth
WORKER_SHARED_TOKEN=change_me_worker_token

# Shopify
SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
SHOPIFY_STORE_URL=alindadecor.myshopify.com
SHOPIFY_ACCESS_TOKEN=your_access_token

# Facebook
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
FACEBOOK_ACCESS_TOKEN=your_facebook_access_token
FACEBOOK_CATALOG_ID=your_catalog_id
FACEBOOK_WORKER_URL=http://localhost:4000

# Google
GOOGLE_MERCHANT_ID=your_merchant_id
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
GOOGLE_WORKER_URL=http://localhost:4000
